<html>
    <head>
        <title>
            Create Transaction
        </title>
    </head>
    <body>
        <form action="http://localhost:5000/transaction/new" method="POST">
        <table>
        <tr>
           <td> Reciever Id: </td>
           <td><input type="text" name ="recipient" placeholder="hashId"></td>
        </tr>
        <tr>
        <td>
            Amount : 
        </td><td><input type="number" name="amount"></td>
        </tr>
        <tr>
        <td>
            Your id: 
        </td><td><input type="text" placeholder="{{ user_id }}" name="sender" disabled></td>
        </tr>
        <tr>
        <td>
        </td>
        <td>
            <input type = "submit">
        </td>
        </td>
        </table>
        </form>
    </body>
</html>